<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # -------- Localhost --------
    RewriteBase /caycanhhangvinh/
    
    # -------- Host --------
    # RewriteBase /
    
    # Allow real files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redirect all requests to router.php (main entry point)
    RewriteRule ^(.*)$ router.php [QSA,L]
</IfModule>
